@use "./variables" as *;
@use "./mixins" as *;

body {
  min-width: 236px;
  color: $primary-color;
}

h1 {
  @include text-h1-h2;

  @include tablet-and-above {
    font-size: 3.75rem;
    line-height: 2.75rem;
  }
}

h2 {
  @include text-h1-h2;
  letter-spacing: 0.05rem;
  font-weight: 600;

  @include tablet-and-above {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3,
li {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: normal;

  @include tablet-and-above {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}

p {
  font-size: 0.8rem;
  line-height: 1.125rem;
  font-weight: normal;

  @include tablet-and-above {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

a {
  text-decoration: none;
}
