@use "./variables" as *;

@mixin tablet-and-above {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile-heading-padding {
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  @include tablet-and-above {
    padding-top: 3rem;
    padding-bottom: 2.3rem;
  }
}

@mixin text-h1-h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
}

@mixin image-height($height) {
  height: $height;
  object-fit: cover;
}

@mixin hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin hero-overlay {
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 30vh;
  align-items: center;
  padding-left: 1rem;
}

@mixin hero-heading {
  color: $tertiary-color;

  @include tablet-and-above {
    padding-left: 1.5rem;
  }

  @include desktop {
    padding-left: 8rem;
  }
}
