$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color: #323232;
$secondary-color: #afafaf;
$tertiary-color: #ffffff;

$text-hover: #000000;
$divider-color: #e1e1e1;
$tertiary-color-alt: #fafafa;
