@use "./partials/typography" as *;
@use "./partials/resets";
@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  @include hero-image;

  &__overlay {
    @include hero-overlay;
    display: flex;

    @include tablet-and-above {
      height: 55vh;
    }

    @include desktop {
      height: 70vh;
    }
  }

  &__title {
    @include hero-heading;
  }
}

.about {
  padding: 0 1rem;

  @include desktop {
    padding: 0.5rem 10rem;
  }

  &__heading {
    @include heading-padding;

    @include tablet-and-above {
      padding-left: 2rem;
    }

    @include desktop {
      padding: 3rem 0 2rem 0;
    }
  }

  &__img {
    width: 100%;
    padding-bottom: 1rem;
    @include image-height(15rem);

    @include tablet-and-above {
      padding: 0.5rem 5rem;
      @include image-height(25rem);
    }

    @include desktop {
      @include image-height(32rem);
      padding-bottom: 1rem;
    }
  }

  &__text-container {
    @include tablet-and-above {
      padding: 0.5rem 5rem 1rem;
    }
  }

  &__paragraphs-container {
    @include tablet-and-above {
      display: flex;
    }
  }

  &__paragraph {
    padding-bottom: $mobile-text-padding;

    @include tablet-and-above {
      margin: 0 0.6rem;
      width: 50%;
    }
  }

  &__text {
    font-weight: bold;
    padding-bottom: 0.5rem;

    font-size: 1rem;
    line-height: 1.5rem;

    @include tablet-and-above {
      font-size: 1.3rem;
      font-weight: 500;
    }

    @include desktop {
      padding-right: 10rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__text-under {
    padding-bottom: $mobile-text-padding;

    @include tablet-and-above {
      font-size: 1rem;
      font-weight: 500;
    }

    @include desktop {
      font-weight: 600;
    }
  }

  &__subheading {
    font-size: 1rem;
    padding-bottom: $mobile-text-padding;

    @include tablet-and-above {
      font-size: 1.5rem;
      font-weight: normal;
      padding: 2rem 0;
    }

    @include desktop {
      font-size: 1.7rem;
      padding-left: 0.5rem;
    }
  }
}

.gallery {
  background-color: $tertiary-color-alt;
  padding: 0 1rem;

  @include tablet-and-above {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 1rem 5rem;
  }

  &__heading {
    @include heading-padding;
    padding-bottom: 0.5rem;

    @include tablet-and-above {
      padding: 1.5rem 1rem 1rem 1rem;
    }

    @include desktop {
      padding: 2rem 1rem 1.5rem;
    }
  }

  &__img-container {
    padding-bottom: 0.5rem;

    @include tablet-and-above {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 0.5rem;
    }
  }

  &__img {
    width: 100%;
    padding: 0.5rem 0;
    filter: grayscale(100%);
    @include tablet-and-above {
      width: 31%;
    }

    &:hover {
      filter: none;
    }
  }
}

.comment-section {
  padding: 0 1rem;

  &__heading {
    padding-top: 1rem;
  }

  &__form-container {
    display: flex;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2.3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 1rem;
  }

  &__form-label {
    @include info-subheading;
    padding: 1rem 0 0.3rem;
  }

  &__input-name {
    height: 2.5rem;
    @include input;

    &--error {
      outline: solid 1px $error-color;
    }
  }

  &__input-comment {
    height: 7rem;
    @include input;

    &--error {
      outline: solid 1px $error-color;
    }
  }

  &__error {
    padding-top: 0.3rem;
  }

  &__btn {
    @include button;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  &__comment-cards {
    border-top: solid 1px $divider-color;
    margin: 1rem 0;
  }

  &__comment-card {
    display: flex;
    padding: 1rem 0;
    border-bottom: solid 1px $divider-color;
  }

  &__comment-img-container {
    width: 15%;
  }

  &__comment-top {
    display: flex;
    justify-content: space-between;
  }

  &__comment-name {
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  &__comment-date {
    color: $secondary-color;
  }

  &__comment-img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $divider-color;
    border-radius: 100%;
    margin: 0 auto;
    margin-right: 16px;
  }

  &__comment-container {
    width: 80%;
  }
}
