@use "./partials/typography" as *;
@use "./partials/resets";
@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.nav {
  background-color: $primary-color;

  &__logo {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 0.75rem;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &-item {
      padding: 10px;
      width: 50%;

      &--active {
        font-weight: bold;
        border-bottom: 0.25rem solid $tertiary-color;
      }

      &-link {
        color: $tertiary-color;
        text-decoration: none;
      }
    }
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  padding-left: 1rem;

  &__title {
    color: $tertiary-color;
    position: relative;
    bottom: 1.3rem;
  }
}

main {
  padding: 1rem;
}

.about {
  .about__img {
    width: 100%;
  }
}

.gallery__img {
  width: 100%;
}

.footer {
  background-color: $primary-color;
  color: $tertiary-color;

  &__icon {
    width: 20px;
  }
}
