@use "./partials/typography" as *;
@use "./partials/resets";
@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  @include hero-image;

  &__overlay {
    @include hero-overlay;
    display: block;
    padding-top: 2rem;
    height: 32vh;

    @include tablet-and-above {
      height: 55vh;
    }

    @include desktop {
      height: 70vh;
    }
  }

  &__subheading {
    @include hero-heading;
    padding-bottom: 1rem;
  }

  &__title {
    @include hero-heading;
    max-width: 70%;
  }

  &__widget {
    width: 90%;
    max-width: 30rem;
    height: 100;
    margin-top: 0.7rem;
  }
}

.shows {
  &__shows-section {
    margin-bottom: 1.5rem;
  }

  &__heading {
    padding: 2rem 1.5rem 0.5rem;
  }

  &__show-container {
    padding: 1rem 1rem;
    border-bottom: solid 1px $divider-color;
  }

  &__subheading {
    @include info-subheading;
  }

  &__info {
    padding: 0.8rem 0 1.2rem 0;
    font-size: 1.1rem;
  }

  &__info--highlight {
    font-weight: bold;
  }

  &__btn {
    @include button;
    width: 100%;
    margin-top: 1rem;
  }
}
